@import url(https://fonts.googleapis.com/css?family=Amita:400,700);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
  background-color: #EBFBAB;
  font-family: "Amatic SC", sans-serif;
  font-size: 28px;
  font-weight: 700;
}
h1 {
  color: #882020;
  font-style: normal;
  font-family: "Gloria Hallelujah", sans-serif;
}
h2 {
  color: #45ABAB;
  font-style: normal;
  font-family: "Amita", sans-serif;
  font-weight: 700;
}
#ingredients {
  width: 45%;
  box-sizing: border-box;
  float: left;
}
#directions {
  width: 45%;
  box-sizing: border-box;
  float: left;
}
