@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Marmelad);
@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900italic,900,700italic,200,200italic,300,300italic,400italic,600,600italic,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900,700,300);
header {
  background-color: #ab1d3c;
}
footer {
  background-color: #ab1d3c;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
a {
  color: white;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: white;
}
h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 50px;
  color: white;
  font-size: 90px;
  margin-bottom: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  padding-bottom: 0;
}
h2 {
  text-align: center;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin-top: 0;
  padding-bottom: 60px;
  background-color: #ab1d3c;
  margin-bottom: 0;
}
h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 2.5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  color: #b21735;
}
h4 {
text-align: left;
font-family: "Source Sans Pro", sans-serif;
font-size: 14px;
color: black;
padding-top: 0;
margin-top: 0;
margin-left: 17.5px;
padding-bottom: 2.5px;
}
h5 {
  text-align: center;
  margin-top: 0;
  padding-top: 45px;
  color: white;
  font-size: 60px;
  margin-bottom: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  padding-bottom: 0;
}
h6 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  color: #b21735;
  padding-top: 15px;
}
h7 {
  padding-top: 20px;
  padding-bottom: 2.5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: black;
}
h8 {
  padding-top: 15px;
  padding-bottom: 2.5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  color: black;
}
#first {
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: black;
  border-bottom: 1px solid #f2f2f2;
}
#second {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  color: #b21735;
  margin-bottom: 0;
  padding-top: 5px;
}
#writer {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16.5px;
  color: #464141;
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#description {
  margin-top: 0;
  padding-top: 3px;
  line-height: 1.5;
  font-size: 12.5px;
  font-family: "Merriweather", sans-serif;
}
.dropdown {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 17.5px;
  font-family: "Hind Siliguri", sans-serif;
}
.lead {
  margin-bottom: 0;
}
.text-primary {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  padding-right: 20px;
}
.next {
  color: #b21735;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 15px;
  padding-right: 20px;
}
.col-sm-4 {
  padding-bottom: 15px;
  padding-left: 0;

}
#bot {
  margin-bottom: 50px;
}
.col-lg-4 {
  padding-left: 15px;
  padding-right: 15px;
}
.caption-box {
  background-color: black;
  color: white;

  padding: 20px;
  width: 40%;
  position: relative;
  bottom: 30px;
  margin-left: 325px;
  text-align: center;
}
.caption-box1 {
  background-color: black;
  color: white;
  padding: 5px;
  width: 60%;
  position: relative;
  top: 15px;
  right: 12.5px;
  text-align: center;
}
.caption-box2 {
  background-color: white;
  color: black;
  padding: 7.5px;
  width: 70%;
  position: relative;
  bottom: 30px;
  text-align: center;
  align-items: center;
  left: 32.5px;
}
.caption-box3 {
  background-color: white;
  color: black;
  padding: 7.5px;
  width: 60%;
  left: 50px;
  bottom: 30px;
  position: relative;
}
.caption-box4 {
  background-color: black;
  color: white;
  padding: 6.5px;
  width: 55%;
  position: relative;
  top: 15px;
  right: 15px;
  text-align: center;
  margin-left: 2.5px;
}
.caption-box5 {
  background-color: white;
  color: black;
  padding: 7.5px;
  width: 60%;
  left: 70px;
  bottom: 35px;
  position: relative;
  text-align: center;
}
.caption-box6 {
  background-color: black;
  color: white;
  padding: 7.5px;
  width: 52.5%;
  position: relative;
  bottom: 20px;
  text-align: center;
  left: 100px;
}
.caption-box7 {
  background-color: black;
  color: white;
  padding: 6px;
  width: 50%;
  position: relative;
  bottom: 20px;
  text-align: center;
  left: 75px;
}
.social {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
div.timeline-Header {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.timeline-footer {
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.col-sm-3 {
  padding-right: 0;
  padding-left: 35px;
}
.issuu {
  padding-left: 50px;
  padding-right: 0;
}
.col-md-4 {
  padding-left: 65px;
  padding-right: 0;
}
.hawk {
  padding-bottom: 15px;
  padding-right: 20px;
}
.col-md-12 {
  background-color: #ab1d3c;
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 22.5px;
  color: white;
  padding-top: 10px;
}
#foot {
  margin-left: 20px;
  margin-right: 20px;
}
.end {
  margin-top: 150px;
}
.col-sm-12 {
  background-color: #ab1d3c;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 17.5px;
  color: white;
  padding-bottom: 20px;
  border-bottom: 1px white solid;
}
.input-group {
  padding-bottom: 30px;
}
.navbar {
  border-radius: 0;
}
.col-md-8 {
  padding-left: 0;
}
.col-sm-8 {
  background-color: white;
}
.section {
  color: black;
  font-size: 60px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 700;
  padding-right: 20px;
  margin-bottom: 7.5px;
}
.sub {
  color: #b21735;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  border-bottom: solid grey 1px;
}
.margin {
  margin-left: 5px;
}
.featured-news {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  line-height: 0.5;
}
.latest-news {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
  text-decoration: underline;
}
.subscribe {
  padding-left: 50px;
}
.form-control {
  border-radius: 0;
}
.input-group-btn {
  border-radius: 0;
}
.paginate a {
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ab1d3c;
    padding: 5px 10px;
  }
  .paginate {
    margin-bottom: 75px;
    margin-top: 7.5px;
    padding-left: 15px;
  }
#long {
  background-color: white;
  color: black;
  font-size: 14px;
  font-family: "Helvetica", serif;
}
.text-primary a {
  color: black;
}
#p1 {
  margin-top: 20px;
}
#writer a {
  color: black;
}
#writer a:hover {
  color: #ab1d3c;
}
#name {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 0px;
}
#name a {
  color: grey;
}
.social1 {
    list-style-type: none;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  .social1 li img {
    width: 24px;
    height: 24px;
    max-width: 100%;
    list-style-type: none;
    list-style: none;
  }
.pbembry {
  margin-right: 32px;
}
#plast {
  padding-bottom: 50px;
  border-bottom: 1px solid #f2f2f2;
}
#related {
  padding-top: 20px;
  padding-bottom: 2.5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  color: #b21735;
}
.rimg {
  padding: 0;
}
#foot3 {
  margin-top: 75px;
  margin-left: 0;
  margin-right: 0;
}
#foot2 {
  margin-top: 50px;
}
